<div class="bg-color border p-1.5 min-h-screen pt-4"> 
<div #header class="flex items-center justify-between mt-4 mx-4"> <p class="font-medium m-0 text-xl">Resource Bank </p>
    <button mat-raised-button color="primary"class="outline-none btn-color add-btn fs-0.75" >+ADD QUESTION</button> </div>
    <div #search class="bg-white mb-10 mt-5 mx-4 p-6 rounded-2xl">
        <input type="text" class="border rounded-2xl outline-none p-2 w-full" placeholder="search">
    </div>

<div id='list-1' class="border px-5 py-10" cdkDropListSortingDisabled cdkDropListConnectedTo="list-2" class="container m-auto" cdkDropList [cdkDropListData]="bank"> 
    <div class="mt-2"*ngFor="let item of bank; let i = index" cdkDrag [cdkDragDisabled]="item.status">     
        <div class="bg-white border mx-4 p-4 rounded-xl cursor-move">
         <p>  {{  item.statement }}</p>
         <button mat-raised-button color="primary" class="add-btn outline-none btn-color" [ngClass]=" { 'btn-color' : !item.status }" [disabled]="item.status" (click)="addQuestionToSheet(i)">+&nbsp; Add</button>
        </div>
    </div>
</div>
</div>
