<div class="border p-4 bg-color min-h-screen"> 
    <div #header class="flex items-center justify-between my-4">
        <i class="cursor-pointer"><img class="h-7" src="../../../../../assets/SVGs/bars-solid.svg"></i>
     <p class="font-bold lg:text-2xl m-0 text-xl ">New Worksheet</p>
    <button mat-raised-button color="primary" class="outline-none btn-color add-btn fs-0.75" >CREATE WORKSHEET</button
    ></div>
<div id="list-2" cdkDropListConnectedTo="list-1" class="border rounded-2xl bg-white px-5 py-5" cdkDropList [cdkDropListData]="ques" (cdkDropListDropped)="onDrop($event)"> 
    <div #info class="flex flex-wrap justify-between my-4"> 
        <input type="text" class="border round p-2" placeholder="Worksheet Name">
        <input type="text" class="border round p-2" placeholder="Details">
        <input type="text" class="border round p-2" placeholder="Select Class">
        <button mat-raised-button color="white" class="outline-none ">Add Section</button>
    </div>
<ng-container *ngIf="ques.length else elseTemplate">
<div class="relative mb-4"*ngFor="let item of ques; let i = index" cdkDrag> 
    <div class="bg-color border flex mr-8 p-2 pb-4  rounded-xl items-center">
    <i class="mx-2 cursor-move" cdkDragHandle><img class="h-5 w-5 max-w-none" src="../../../../../assets/SVGs/chevron-circle-down-solid.svg"></i>
     <p class="m-0">  {{  item.statement }}</p>
     <i class="absolute right-0 cursor-pointer" (click)="remove(i)"><img class="h-5" src="../../../../../assets/SVGs/times-circle-regular.svg"></i>
    </div>
     </div>
    </ng-container>
    <ng-template #elseTemplate>
        <div class="p-8 bg-color rounded-xl text-center">
            <h3>Please add new questions here</h3>
        </div>
    </ng-template>
</div>
</div>