<div class="container m-auto">
    <div class="flex flex-wrap relative">
<app-sheet class="lg:w-8/12 sm:w-full"></app-sheet>
<app-bank class="lg:w-4/12 sm:block hidden overflow-y-auto h-100vh sticky right-0 top-0"></app-bank>
</div>
</div>