/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.outline-none {
    outline: none !important;
}
.btn-color {
    background-color: #5c7fdd !important;
}
.m-0 {
    margin: 0 !important;
}
.add-btn {
    line-height: 1.75rem !important;
}
.fs-0\.75 {
 font-size: 0.75rem;
}
